@import url('https://fonts.googleapis.com/css?family=Oswald|Righteous');

.card h1{
    font-family: Oswald;
    color: #4eb731;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.card{
    text-align: center;
}

.form{
    border: 2px white solid ;
    border-radius: 25px;
    padding: 10%;
}

label{
    color: #4eb731;
    font-family: Oswald;
    padding-right: 12px;
}

.input-field{
    padding-bottom: 5%;
}

.error{
    padding-left: 3px;
    color: red;
}

.btn{
    background-color: white;
    color:black;
}

.footer p{
    color: white;
}